{% extends "bases.html" %}
  {% load static %}  
{% block body %}

        <!-- Appointment Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="bg-light rounded">
                    <div class="row g-0">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="h-100 d-flex flex-column justify-content-center p-5">
                                <h1 class="mb-4">Login into Your Account</h1>
                                <h6 class="mb-4">Please Note this is login for faculty only</h6>
                                <form  action="{% url 'faculty-login' %}" method="post">
                                    {% csrf_token %}

                                    {% if messages %}
                                    <div class="messages">
                                        {% for message in messages %}
                                        <div {% if message.tags %} class="alert alert-sm alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    <div class="row g-3">
                                        <div class="col-sm-6">
                                            <div class="form-floating">
                                                <input type="text" class="form-control border-0" name="username" id="gname" placeholder="username">
                                                <label for="gname">User Name</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-floating">
                                                <input type="password" name="password" class="form-control border-0" id="gmail" placeholder="Password">
                                                <label for="gmail">Password</label>
                                            </div>
                                        </div>
                                    
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>

                                <div class="container">
                                    <span class = "text-lead lead"> Dont have an account? </span><a href = "{% url 'faculty-register' %}" class="" style="color:#745959;">Register</a>
            
                                    <br>
            
                                    <span  class = "text-lead lead"> Forgot Password? </span><a href = "{% url 'password_reset_faculty' %}"  class="" style="color:#745959;">Reset</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="{% static 'img/appointment.jpg' %}" style="object-fit: cover;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Appointment End -->


      
        <!-- Footer End -->


        <!-- Back to Top -->
     
        {% endblock %}